$ff: 'Red Hat Display', sans-serif;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1rem;
$fs-22: 1.375rem;
$fs-28: 1.75rem;

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$lighter-blue: hsl(245, 83%, 68%);
$transparent-bright-blue: hsla(245, 75%, 52%, 0.25);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$breakpoint: 600px;

body {
  font-family: $ff;
  font-weight: $fw-500;
  font-size: $fs-15;
  line-height: 1.6;
  color: $desaturated-blue;
  background-color: $very-pale-blue;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/images/pattern-background-mobile.svg");
  @media  screen and (min-width: $breakpoint) {
    font-size: $fs-16;
    background-image: url("../assets/images/pattern-background-desktop.svg");
  }
}

.card {
  width: calc(100vw - 3rem);
  max-width: 450px;
  margin: 4rem auto;
  background-color: white;
  text-align: center;
  border-radius: 16px;
}

.hero-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.panel {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__title {
    color: $dark-blue;
    font-size: $fs-22;
    font-weight: $fw-900;
    @media  screen and (min-width: $breakpoint) {
      font-size: $fs-28;
    }
  }

  @media  screen and (min-width: $breakpoint) {
    gap: 2rem;
  }
}

.plan {
  background-color: $very-pale-blue;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__group {
    display: flex;
    gap: 1rem;
  }
  &__type {
    color: $dark-blue;
    font-size: $fs-14;
    font-weight: $fw-900;
    @media  screen and (min-width: $breakpoint) {
      font-size: $fs-16;
    }
  }

  &__link {
    color: $bright-blue;
    font-size: $fs-13;
    font-weight: $fw-700;
    &:hover {
      text-decoration: none;
    }
    @media  screen and (min-width: $breakpoint) {
      font-size: $fs-14;
    }
  }
}

.btn {
  font-weight: $fw-900;
  border: none;
  background-color: $bright-blue;
  cursor: pointer;

  &--proceed {
    color: $very-pale-blue;
    border-radius: 0.5rem;
    padding: 1em;
    box-shadow: 0 20px 20px 0 $transparent-bright-blue;
    &:hover {
      background-color: $lighter-blue;
    }
  }
  
  &--cancel {
    color: $desaturated-blue;
    background-color: transparent;
  }
}

